body {
  overflow-x: hidden;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 2px 1px 7px rgb(169, 169, 169);
}

#proseg {
  width: 167;
  margin-left: 3%;
  height: 38;
  transition: transform 200ms ease;
}

#proseg:hover {
  transform: scale(1.04);
}

nav {
  display: inline-block;
}

a {
  color: rgb(0, 0, 0);
  font-family: "inter";
  font-size: 15;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20;
  transition: color 200ms ease-in-out;
}

a:hover {
  color: #ff9e9e;
}

a:not(#inicio):not(.botoes a):not(.botoes2 a):not(.botoes3 a)::before {
  content: "";
  display: inline-block;
  background-color: #ce2c2c;
  width: 4;
  height: 4;
  margin: 5;
  vertical-align: middle;
}

#inicio {
  display: inline-block;
  background-color: #ce2c2c;
  height: 35;
  line-height: 35px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  color: white;

  transition: background-color 500ms ease, scale 500ms ease;
}

#inicio:hover {
  background-color: #de7b7b;
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .background,
  .background2,
  .background3 {
    display: none !important;
  }

  .header {
    display: none !important;
  }

  h1,
  h2,
  h3 {
    display: none !important;
  }

  .botoes {
    scale: 100%;
    margin-top: -75%;
    width: 250px;
    height: 450;
    margin-left: 10% !important;
    padding: 0 !important;
  }

  .pagina2,
  .pagina3 {
    height: 500px !important;
  }

  .botoes2 {
    scale: 70%;
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 12% !important;
    position: relative;
  }

  .fileira1 {
    scale: 70%;
    padding-right: 0 !important;
    margin-left: 0% !important;
    margin-top: 25% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fileira2 {
    scale: 70%;
    padding-right: 0 !important;
    margin-left: 5% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
