.pagina2 {
  background-color: #818181;
  height: 850px; /* futuramente podemos alterar esse tamanho*/
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
}

h2 {
  display: inline-block;
  font-family: "inter";
  color: white;
  font-size: 44px;
  font-weight: 700;
  margin-left: 50%;
  margin-top: 250;
  padding-left: 268px;
  transition: transform 300ms linear;
}

h2:hover {
  transform: scale(1.05);
}

.botoes2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  padding-right: 800;
  margin-top: -350;
}

.botoes2 img {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  transition: opacity 400ms ease-in-out, transform 300ms ease-in-out;
}

.botoes2 img:hover {
  opacity: 70%;
  transform: scale(1.1);
}
